{% extends 'base.html.twig' %}

{% block body %}
    <h1>List</h1>
    <table>
        <tbody>
        {% for review in reviews %}
            <tr>
                <th>Review (id)</th>
                <th>{{ review.id }}</th>
            </tr>
            <tr>
                <th>Auteur de la review</th>
                <th>{{ review.reviewAuthor }}</th>
            </tr>
            <tr>
                <th>Personne notée</th>
                <th>{{ review.userRated }}</th>
            </tr>
            <tr>
                <th>Review utilisateur</th>
                <th>{{ review.text }}</th>
            </tr>
            <tr>
                <th>Note utilisateur</th>
                <th>{{ review.note }}</th>
            </tr>
            <tr>
                <th>Date de publication</th>
                <th>{{ review.publicationDate | date('d/m/Y') }}</th>
                <th>{{ review.publicationDate.timezone }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="/review/new">Create a new review</a>
        </li>
        <li>
            <a href="/">Return to homepage</a>
        </li>
    </ul>
{% endblock %}